body{
     background-color: #000;
}
.text{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 1440px;
     color: #fff;
     font-size: 3.8rem;
     font-family: 'Raleway', sans-serif;
}
.icon{
     color: #fff;
     position: relative;
     left: 54rem;
     top: -64rem;
}
