.dark_mode{
     background-color: #000;
     color: #fff;
}
.white_mode{
     background-color: #fff;
     color: #000;
}
.text{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 1440px;
     font-size: 3.8rem;
     font-family: 'Raleway', sans-serif;
}
.icon{
     position: fixed;
     top: 48px;
     right: 48px;
}
